<div id="header">
    <div class="logo">
        <a href="~/Home/Index" class="logo-hotel">
            <img src="~/hotel/assets/img/Logo/jshotel.png" alt="" class="hotel-img">
        </a>
    </div>

    <ul id="nav">
        <li><a href="~/Home/Index">Trang chủ</a></li>
        <li><a href="~/Home/Index#aboutUs">Về chúng tôi</a></li>

        <li>
            <a href="#">
                Phòng
                <i class="nav-arrow-down ti-angle-down"></i>
            </a>

            <ul class="sub-nav">
                <li><a href="~/Home/Index#Standard">Standard</a></li>

                <li><a href="~/Home/Index#Superior">Superior</a></li>

                <li><a href="~/Home/Index#Deluxe">Deluxe</a></li>

                <li><a href="~/Home/Index#Suite">Suite</a></li>
            </ul>
        </li>
        <li><a href="~/Home/Index#tienIch">Tiện ích khách sạn</a></li>

        <li><a href="~/Home/Index#contact">Contact</a></li>
    </ul>

    @*<div class="customer">
            <div class="user">
                <a href="@Url.Action("login", "Admin")">Đăng nhập</a> | <a href="@Url.Action("register", "Admin")">Đăng ký</a>
            </div>
        </div>*@

    @{
        var user = Session["userr"] as QLHotel.SQLHotel.tbl_user; // Thay YourUserClass bằng tên lớp người dùng của bạn
    }

    <div class="customer">
        <div class="user">
            @if (user != null)
            {
                if (user.role == "ADMIN")
                {
                    <ul id="nav-user">
                        <li>
                            <a href="#">@user.name</a>
                            <ul class="sub-nav-user">
                                <li><a href="@Url.Action("ad_list_room", "Admin")">Admin</a></li>
                                <li><a href="@Url.Action("logout", "Admin")">Đăng xuất</a></li>
                            </ul>
                        </li>
                    </ul>
                }
                else
                {
                    <ul id="nav-user">
                        <li>
                            <a href="#">@user.name</a>
                            <ul class="sub-nav-user">
                                <li><a href="@Url.Action("gu_info", "Guest")">Tài khoản</a></li>
                                <li><a href="@Url.Action("logout", "Admin")">Đăng xuất</a></li>
                            </ul>
                        </li>
                    </ul>
                }
            }
            else
            {
                <span><a href="@Url.Action("login", "Admin")">Đăng nhập</a> | <a href="@Url.Action("register", "Admin")">Đăng ký</a></span>
            }
        </div>
    </div>




    @*<div class="customer">
            <div class="user">
                @if (Session::has('userr'))
                    @php $user = Session::get('userr'); @endphp
                    @if ($user->role == 'ADMIN')
        <ul id="nav-user">
            <li>
                <a href="#">{{ $user->name }}</a>
                <ul class="sub-nav-user">
                    <li><a href="{{ route('admin') }}">Admin</a></li>
                    <li><a href="{{ route('home/get-logout') }}">Đăng xuất</a></li>
                </ul>
            </li>
        </ul>

                    {{--  <a href="{{ route('admin') }}" class="admin-hover">Admin</a> |   --}}


                    @else
                    <ul id="nav-user">
                        <li>
                            <a href="#">{{ $user->name }}</a>
                            <ul class="sub-nav-user">
                                <li><a href="{{ route('guest') }}">Tài khoản</a></li>
                                <li><a href="{{ route('home/get-logout') }}">Đăng xuất</a></li>
                            </ul>
                        </li>
                    </ul>
                    @endif

                    @else
                    <a href="{{ route('home/loginn') }}">Đăng nhập</a> |
                    <a href="{{ route('home/register') }}">Đăng ký</a>
                    @endif
                </div>
            </div>*@


</div>