@model IEnumerable<QLHotel.SQLHotel.tbl_bill>
@using QLHotel.SQLHotel
@{
    Layout = "~/Views/Admin/Index.cshtml";
    var Message = TempData["error"] as string;
}

@section ad_content{
    <div id="ad-room-list">
        <div style="width: 90%; background-color: #b5e1f4; padding: 5px; margin: 20px auto 10px auto; text-align: center; border-radius: 5px">
            <h1 class="ad-list-title">Danh sách hóa đơn</h1>
        </div>

        <div id="error-message" class="text-alert" style="color: red; font-weight: 700">
            @Message
        </div>

        <div style="padding: 20px; background-color: #fcfcfc; box-shadow: 0 0 10px rgba(56, 56, 56, 0.6); border-radius: 5px; width: 90%; margin: auto">
            <table border="1px">
                <thead style="background-color: #b5e1f4;">
                <th>STT</th>
                <th>Tên phòng</th>
                <th>Tên người thuê</th>
                <th>Ngày nhận phòng</th>
                <th>Ngày trả phòng</th>
                <th>Tổng tiền</th>

                <th>Action</th>
                </thead>

                <tbody>
                    @{
                        int key = 0;
                        foreach (var cateBill in Model)
                        {
                            var db = new QLKhachSanEntities1(); // Tạo đối tượng DbContext
                            var booking = db.tbl_booking.FirstOrDefault(b => b.bookingID == cateBill.bookingID);
                            var room = db.tbl_room.FirstOrDefault(r => r.roomID == booking.roomID);
                            var user = db.tbl_user.FirstOrDefault(u => u.userID == cateBill.userID);
                            if (booking != null && room != null && user != null)
                            {
                                key++;
                                <tr>
                                    <td>@key</td>
                                    <td>@room.name</td>
                                    <td>@user.name</td>
                                    <td>@booking.checkInDate</td>
                                    <td>@booking.checkOutDate</td>
                                    <td>@cateBill.pay VNĐ</td>
                                    <td>
                                        <a href="@Url.Action("removeBill", "Admin", new { idBooking =  cateBill.bookingID })" onclick="return confirm('Bạn có chắc chắn muốn xóa không?')">
                                            <i class="ti-trash">

                                            </i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    }


                </tbody>
            </table>
        </div>
    </div>
}

