<div id="navbar">
    <ul class="nav">
        <li>
            <a href="@Url.Action("ad_list_room", "Admin")">Danh sách phòng</a>
        </li>

        <li>
            <a href="@Url.Action("ad_list_booking_room", "Admin")">Danh sách đặt phòng</a>
        </li>

        <li>
            <a href="@Url.Action("ad_list_user", "Admin")">Danh sách người dùng</a>
        </li>

        <li>
            <a href="@Url.Action("ad_list_bill", "Admin")">Hóa đơn</a>
        </li>

        <li>
            <a href="@Url.Action("ad_add_room", "Admin")">Thêm phòng</a>
        </li>
    </ul>

</div>