
@{
    Layout = "~/Views/Admin/Index.cshtml";
    var Message = TempData["error"] as string;
}

@section ad_content{
    <div id="add-room">
        <h1 class="add-room-title">Sửa phòng</h1>
        @* Hiển thị lỗi *@
        <div id="error-message" class="text-alert" style="color: red; font-weight: 700">
            @Message
        </div>
        <table border="1px">
            <form accept-charset="UTF-8" action="@Url.Action("postUpdateRoom", "Admin")" method="post">
                @Html.AntiForgeryToken()           
                <input type="hidden" id="roomID" name="roomID" value="@ViewBag.Room.roomID">
                <tr>
                    <th>
                        <label for="roomName">Tên phòng</label>
                    </th>

                    <td><input type="text" id="roomName" name="roomName" value="@ViewBag.Room.name"></td>
                </tr>

                <tr>
                    <th>
                        <label for="countPeo">Số người tối đa</label>
                    </th>

                    <td><input type="number" id="countPeo" name="countPeo" value="@ViewBag.Room.countPeople"></td>
                </tr>

                <tr>
                    <th>
                        <label for="roomPrice">Giá</label>
                    </th>

                    <td><input type="text" id="roomPrice" name="roomPrice" value="@ViewBag.Room.price"></td>
                </tr>

                <tr>
                    <th>
                        <label for="roomStatus">Trạng thái</label>
                    </th>

                    <td>
                        <select id="roomStatus" name="roomStatus">
                            <option value="1" @(ViewBag.Room.status == 1 ? "selected" : "")>Còn trống</option>

                            <option value="0" @(ViewBag.Room.status == 0 ? "selected" : "")>Hết phòng</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <th>
                        <label for="roomType">Loại phòng</label>
                    </th>

                    <td>
                        <select id="roomType" name="roomType">
                            <option value="Standard" @(ViewBag.Room.type == "Standard" ? "selected" : "")>Standard</option>
                            <option value="Superior" @(ViewBag.Room.type == "Superior" ? "selected" : "")>Superior</option>
                            <option value="Deluxe" @(ViewBag.Room.type == "Deluxe" ? "selected" : "")>Deluxe</option>
                            <option value="Suite" @(ViewBag.Room.type == "Suite" ? "selected" : "")>Suite</option>
                        </select>

                    </td>
                </tr>

                <tr>
                    <th>
                        <label for="roomInfo">Thông tin giới thiệu</label>
                    </th>

                    <td>
                        <textarea id="roomInfo" name="roomInfo" cols="30" rows="10" style="width: 100%;">@ViewBag.Room.info</textarea>
                    </td>
                </tr>

                <tr>
                    <th>
                        <label for="roomImage">Ảnh phòng</label>
                    </th>

                    <td>
                        <input id="roomImage" name="roomImage" type="file" value="@ViewBag.Room.image">
                    </td>
                </tr>

                <div class="btn">
                    <button type="submit" name="btnThem">Cập nhật</button>
                    <button type="reset">Reset</button>
                </div>
            </form>
        </table>
    </div>
}